/* Genel stil ayarları */
body {
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.menu-img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}

h2 {
    font-size: 24px;
    margin-top: 20px;
}

p {
    font-size: 16px;
    margin-bottom: 20px;
}

a {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 16px;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
}

a:hover {
    background-color: #333;
}

/* Header stil ayarları */
header {
    background-color: #000;
    padding: 20px;
}

#menu {
    display: flex;
    justify-content: center;
}

#menu a {
    margin: 0 10px;
    color: #fff;
    text-decoration: none;
}

#menu a:hover {
    text-decoration: underline;
}

/* Section stil ayarları */
section {
    padding: 50px 0;
    background-color: #fff;
    color: #000;
}

/* Telefon bölümü stil ayarları */
#telefon {
    background-color: #000;
    color: #fff;
}

/* Tablet bölümü stil ayarları */
#tablet {
    background-color: #fff;
    color: #000;
}

/* Bilgisayar bölümü stil ayarları */
#bilgisayar {
    background-color: #000;
    color: #fff;
}

/* Akıllı Saat bölümü stil ayarları */
#akillisaat {
    background-color: #fff;
    color: #000;
}
